{% extends "base.html" %}
{% block main %}
<div class="main" style="text-align: center;">
    <div class="page-canvas" style="background-color: #fff;padding-bottom: 20px">

  <div class="signin-wrapper">
    <h1>登录</h1>
      <form class="form-horizontal" method="post" action="{{ url_for('.register') }}">
        <div style="margin:10px 0">
            <input type="text" class="input-large" name="username" placeholder="用户名">
        </div>
        <div style="margin:10px 0">
            <input type="text" class="input-large" name="nickname" placeholder="昵称">
        </div>
        <div style="margin:10px 0">
            <input type="password" class="input-large" name="password" placeholder="密码">
        </div>
        <div style="margin:10px 0">
          <button type="submit" class="submit EdgeButton EdgeButton--primary EdgeButtom--medium">注册</button>
        </div>
      </form>
  </div>

  <div class="clearfix mobile has-sms" >
    <p class="signup-helper">
      已经有账号了？
      <a id="login-signup-link" href="{{url_for('index.login')}}">登录 »</a>
    </p>

  </div>

</div>
</div>
{% endblock %}