{% extends "base.html" %}
{% block title %}
新建帖子
{% endblock %}
{% block main %}



<div class='main'>

    <div id='sidebar'>

      <div class='panel'>

        <div class='header'>
          <span class='col_fade'>个人信息</span>
        </div>
        <div class='inner'>
          <div class='user_card'>
              <div>
                <a class='user_avatar' href="{{url_for('index.user_detail', id=user.id)}}">
                  <img src="{{ user.user_image }}">
                </a>
                <span class='user_name'><a class='dark'>{{user.username}}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                    “
                        {{user.bio}}
                    ”
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>


<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ul>
    </div>
    <div class='inner userinfo'>
      <div class='user_big_avatar'>
        <img src="{{ user.user_image }}" class="user_avatar" title="i5ting"/>
      </div>
      <a class='dark'>{{user.username}}</a>


      <p class='col_fade'>注册时间 3 年前</p>

    </div>
  </div>

  <div class='panel'>
    <div class='header'>

      <span class='col_fade'>设置</span>
    </div>
    <div class="inner">
      <form action='{{ url_for("index.changeprofile") }}' method="post">
          <label class="control-label">用户名</label>
          <div class="controls">
          <input type="text" value="{{ user.username }}" name="username">
          </div>

          <label class="control-label">个性签名</label>
          <div class="controls">
          <input type="text" value="{{ user.bio }}" name="bio">
          </div>

          <button type="submit">提交</button>
        </form>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>

      <span class='col_fade'>更改密码</span>
    </div>
    <div class="inner">
        <form action='{{ url_for("index.changepsd") }}' method="post">
          <label class="control-label">旧密码</label>
          <div class="controls">
          <input type="password" name="old_psd">
          </div>
          <label class="control-label">新密码</label>
          <div class="controls">
          <input type="password" name="psd">
          </div>
          <br>
          <button type="submit">提交</button>
        </form>
    </div>
  </div>

  <div class='panel'>
   <div class='header'>

      <span class='col_fade'>更换头像</span>
    </div>
    <div class="inner">
      <form method=post
          action='{{ url_for(".add_img") }}'
          enctype=multipart/form-data>
        <input type=file name=avatar>
        <button type="submit">Upload</button>
      </form>
      <img src="{{ user.user_image }}" title="avatar"/>
    </div>
  </div>
</div>
</div>

{% endblock %}